@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #13131A;
  --card-bg: #1C1C26;
  --accent: #6C5DD3;
  --text-primary: #FFFFFF;
  --text-secondary: #808191;
}

body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Inter', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}